body {
  margin:0;
  padding:0;
  font-family: Arial;
  font-size:12px;
  background-color: #fff;
}
#input {
  width:100%;
  padding: 5px;
  padding-left:20px;
  background: url(img/arrow-in.svg) no-repeat 5px #fff;
}
form {
  position: fixed;
  width:100%;
  top: 0px;
  background-color: #ffffff;
}
#output {
  margin-top:30px;
}
.error {
  padding:5px;
  background-color: #fff0f0;
  border:1px solid #ffd7d7;
  color: #ff0000;
  padding-left: 20px;
  margin-top:1px;
  background: url(img/error.png) no-repeat 5px #fff0f0;
}
.output {
  padding: 5px;
  padding-left: 20px;
  margin-top:1px;
  background: url(img/arrow-out.svg) no-repeat 5px 10px;
  min-height: 20px;
}
.enumerator {
  list-style: none;
  margin:0;
  padding:0;
}
.enumerator ul, .enumerator ul ul {
  margin:0;
  padding:0;
  margin-bottom:20px;
}
.enumerator ul {
  list-style: none;
}
.enumerator li > ul {
  -webkit-margin-start: 0;
  padding-left:30px;
}
.filtersSpan {
}
.enumerator {
  padding-left:0;
}
.enumerator > li.off > ul {
  display:none;
}
.enumerator > li.on > ul {
  display:block;
  border-left: 1px solid #ccc;
  position: relative;
  left:5px;
}
a:link, a:visited, .enumerator a:link, .enumerator a:visited {
  text-decoration: none;
  color:#000;
  border:0;
  background: none;
}
.propertyTable {
  width:90%;
  table-layout: fixed;
  border-collapse: collapse;
}
.propertyTable th {
  border:1px solid #ccc;
  text-align: left;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
  color:#000;
  font-weight: normal;
  padding:5px;
}
.propertyTable  td {
  border:1px solid #ccc;
  padding: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.propertyName {
  width:300px;
  min-width:300px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.propertyValue {
  width:400px;
  min-width:400px;
}
.descriptorName {
  width:150px;
}
pre {
  white-space: pre-wrap;
}
.propertyInfo {
  width:250px;
  min-width:250px;
}
.box, .noPropertiesFound {
  padding: 3px;
  border:1px solid #efefef;
  margin:1px;
}
.interesting {
  border:2px solid #000000 !important;
}
.array {
  border:1 px solid #0008FF;
  background-color: #C4C6FF;
}
.NaN {
  border:1px solid #AD7E00;
  background-color: #F7DD97;
}
.null {
  border:1px solid #000000;
  background-color: #BFBFBF;
}
.function {
  border:1px solid #FF2D00;
  background-color: #FFBAAB;
}
.object {
  border:1px solid #00D1FF;
  background-color: #E8FBFF;
}
.string {
  border:1px solid #59FF00;
  background-color: #E0FFCF;
}
.boolean {
  border:1px solid #FFFF00;
  background-color: #FFFFD1;
}
.symbol {
  border: 1px solid #8E003C;
  background-color: #D6BDC8;
}
.undefined {
    border:1px solid #646565;
    background-color: #F3F3F3;
}
.number {
  border:1px solid #FF9300;
  background-color:#FFE5C1;
}
.deleteOutput {
  color: #ff0000 !important;
  text-decoration: none;
  float:right;
  margin-right:10px;
}
.displayTable th {
  background-color: #000;
  color:#fff;
}
.displayTable th, .displayTable td {
  text-align: left;
  padding: 3px;
  border:1px solid #ccc;
  border-collapse: collapse;
}
.displayTable {
  width:100%;
  table-layout: fixed;
}
#usage {
  padding:10px;
}
#usage h1 {
  margin:0;
}
#usage a:link, #usage a:visited {
  color:red;
}
